<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Protected Page</a>
</nav>

<div>
    <h2>This page is only visible to logged users <strong>Level 2</strong> </h2>
</div>

<div style="margin-top: 40px">
    <a href="/" class="btn btn-primary btn-lg active">Home</a>
</div>